<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headTag :: headTag">
</head>
<body>
	<div th:include="/common/globals::header-bar"></div>
	<div th:include="/common/globals::header-logo-menu"></div>
	<div class="main">
		<div class="container">
			<div class="row">
				<!-- content area -->
				<div class="col-sm-12 content">
					<section class="content-area fix-margin-bottom">
						<div
							class="error-box general-error glyphicon glyphicon-exclamation-sign">
							<span id="statusCode" th:if="${httpStatus} != null"
								th:text="'Status: ' + ${httpStatus}"></span>
							<div class="general-error error-content">
								<p>Application has encountered a fatal error.</p>
								<p>If the problem persists please do not hesitate to contact
									our support team.</p>

							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div th:include="/common/globals::footer-zone"></div>
</body>
</html>