<div ng-controller="SignUpController as vm" layout="column">
	<!--<md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">-->
	<md-card> <md-card-content> <md-content
		md-theme="docs-dark">
	<form name="signupform" ng-submit="vm.signup()" role="form"
		novalidate="">
		<h3>Email got Social is in beta version</h3>
		<span>Sorry fulks, accounts registration are by invitation only for now. If you are interested in our project updates or just want to say hello, drop off a line in </span><a
			href="#/contactus" th:href="@{#/contactus}"
			ng-click="setRoute('/contactus')" th:text="#{menu.contact}">Contact.</a>
		<md-input-container> <label for="fullName"
			th:text="#{fullName}"></label> <input ng-model="vm.user.fullName"
			id="fullName" name="fullName" required="" />

		<div ng-messages="signupform.fullName.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="email"
			th:text="#{emailAddress}"></label> <input ng-model="vm.user.email"
			id="email" name="email" type="email" required="" />

		<div ng-messages="signupform.email.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
			<div ng-message="email" th:text="#{invalidemail}"></div>
			<div ng-message="email-exist" th:text="#{signup.emailexist}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="password"
			th:text="#{password}"></label> <input ng-model="vm.user.password"
			id="password" name="password" type="password" required="" />

		<div ng-messages="signupform.password.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="repeatpassword"
			th:text="#{signup.repeatpassword}"></label> <input
			ng-model="vm.user.repeatpassword" id="repeatpassword"
			name="repeatpassword" type="password" required=""
			fieldtomatch="vm.user.password" />

		<div ng-messages="signupform.repeatpassword.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
			<div ng-message="mismatch" th:text="#{signup.passwordmismatch}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="invitationcode"
			th:text="#{signup.invitationcode}"></label> <input
			ng-model="vm.user.invitationcode" id="invitationcode"
			name="invitationcode" type="text" required="" />

		<div ng-messages="signupform.invitationcode.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>
		</md-input-container>
		<div layout="row">
			<md-button class="md-raised md-primary"
				ng-disabled="signupform.$invalid" th:text="#{signup.button}"></md-button>
			<div ng-messages="vm.error" class="form-errors">
				<div ng-message-exp="vm.error">{{vm.error}}</div>
			</div>
		</div>
		<hr />
		More sign up options coming soon.
	</form>
	</md-content> </md-card-content> </md-card>
	<!-- {{ vm }}
     {{ signupform.email }}-->
</div>