<div ng-controller="MainMenuController as vm" ng-init="vm.init()">
    <accordion close-others="oneAtATime">
        <accordion-group heading="Accounts" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <div class="" ng-repeat="source in vm.sources"
                 ng-click="vm.selectAccount(source.username)">{{source.username}}
            </div>
            <md-button ng-show="vm.sources.length==0" class="md-fab md-primary md-mini"
                       ng-click="vm.openAccountSourceDialog($event)">+
            </md-button>
        </accordion-group>
        <accordion-group heading="Folders" is-open="true">
            <div class="folders">
                <div collapse="folderController.isCollapsed">
                    <div class="folder" ng-repeat="folder in vm.folders"
                         ng-click="vm.getMessages(folder)">{{folder.name}}
                    </div>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="status.open">
            <accordion-heading>
                Settings <i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            Account Settings
        </accordion-group>
    </accordion>
</div>
