<div ng-controller="MainController as vm" layout="column">
	<section class="content-area">
		<div class="row">
			<div class="col-md-2">
				<mainmenu></mainmenu>
			</div>
			<div class="email-folder col-md-4">
				<messages></messages>
			</div>
			<div class="email-viewer col-md-6">
				<div class="spinnerEmailBody" ng-show="vm.loadingEmail">
					<img src="../images/spinner.png" alt="Loading" th:alt="Loading"
						th:src="@{'/images/spiffygif_30x30.gif'}" />
				</div>
				<md-card flex="" class="md-cyan-theme content-card"
					ng-show="vm.activeEmail.loaded"> <md-toolbar
					class="toolbar-default md-white-cyan-theme" md-theme="white-cyan">
				<div layout="row" layout-align="space-between start">
					<div class="email-single-title" flex="">
						<h3 class="md-title ng-binding" flex="">{{vm.activeEmail.from}}</h3>
						<span class="md-subhead"> <span translate=""
							class="ng-scope" style="">To: </span>
							<!-- ngRepeat: to in email.to -->
							<span ng-repeat="to in vm.activeEmail.to"
							class="ng-binding ng-scope to"> {{to.name}} ({{to.email}})<!-- ngIf: !$last -->
						</span>
						<!-- end ngRepeat: to in email.to -->
						<div style="clear: both;"></div>
						</span> <span class="md-body-2 ng-binding">{{vm.activeEmail.subject}}</span>
					</div>
					<div layout="row" layout-align="space-between center">
						<span class='st_facebook'
							st_title='{{vm.activeEmail.subject}}'
							th:attr="st_url='{{\'__${publicUrl}__\' + vm.activeEmail.urlPath}}'"></span>
						<span class='st_googleplus'
							st_title='{{vm.activeEmail.subject}}'
							th:attr="st_url='{{\'__${publicUrl}__\' + vm.activeEmail.urlPath}}'"></span>
						<span class='st_twitter'
							st_title='{{vm.activeEmail.subject}}'
							th:attr="st_url='{{\'__${publicUrl}__\' + vm.activeEmail.urlPath}}'"></span>
						<span class='st_linkedin'
							st_title='{{vm.activeEmail.subject}}'
							th:attr="st_url='{{\'__${publicUrl}__\' + vm.activeEmail.urlPath}}'"></span>
						<span class="md-caption" am-time-ago="vm.activeEmail.date * 1000">{{vm.activeEmail.date*1000
							| date:'MMM dd, yyyy @ h:mma'}}</span>

					</div>
				</div>
				</md-toolbar> <md-divider class="md-cyan-theme"></md-divider> <md-card-content>
				<div ng-bind-html="vm.activeEmail.emailbody"></div>
				</md-card-content> </md-card>
			</div>
		</div>
	</section>
</div>
