<table ng-table="messageTable" show-filter="true" class="table message">

	<tbody>
    <tr ng-repeat="message in $data" ng-click="vm.showMessage(message.emailMessage, message.emailShared.urlPath)">
        <td ng-class="vm.folderClass" filter="{ 'search': 'text' }" >
		<span class="from">{{message.emailMessage.addresses.from.name}}
		</span>
			<span class="subject">{{message.emailMessage.subject}}
		</span>
        </td>
        <td>
			<span class='st_facebook' 
				st_title='{{message.emailMessage.subject}}'
				th:attr="st_url='{{\'__${publicUrl}__\' + message.emailShared.urlPath}}'"></span> 
				<span class='st_googleplus'
				st_title='{{message.emailMessage.subject}}'
				th:attr="st_url='{{\'__${publicUrl}__\' + message.emailShared.urlPath}}'"></span>        
        </td>
    </tr>
    </tbody>
</table>