<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div id="modal-dialog" th:fragment="modal-dialog">
		<!-- Modal -->
		<!-- Parameters (modalId, modalTitle, modalBody, closeText, actionEnabled, actionText, actionFunction) -->
		<div class="modal fade"
			th:class="${effect==null}?'modal':'modal ' + ${effect}" id="myModal"
			th:id="${modalId}" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:class="${headerClass==null}?'modal-header':'modal-header ' + ${headerClass}">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel" th:text="${modalTitle}">Modal
							title</h4>
					</div>
					<div class="modal-body" th:text="${modalBody}"
						th:class="${bodyClass==null}?'modal-body':'modal-body ' + ${bodyClass}">...</div>
					<div class="modal-footer"
						th:class="${footerClass==null}?'modal-footer':'modal-footer ' + ${footerClass}">
						<button th:unless="!${actionEnabled}" type="button"
							id="modal-dialog-action"
							class="btn btn-primary"
							th:class="${actionClass==null}?'btn btn-primary':'btn btn-primary ' + ${actionClass}"
							th:text="${actionText}"
							th:onclick="'javascript:' + ${actionFunction}">Save
							changes</button>
						<button type="button" class="btn btn-default" id="modal-dialog-close" th:class="${closeClass==null}?'btn btn-default':'btn btn-default ' + ${closeClass}" data-dismiss="modal"
							th:text="${closeText}">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>