<html xmlns:th="http://www.thymeleaf.org">

<body>

<div id="header-logo-menu" th:fragment="header-logo-menu">
    <div class="navbar navbar-default primary-menu">
        <div class="inner">
            <div class="container">
                <!-- dropdown toggle for mobile -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".primary-nav">
                        <span class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse primary-nav">
                    <ul class="nav navbar-nav">
                        <li
                                th:class="'first'  + (${topMenuSelected != null and topMenuSelected == 'home'}?' active':'')"
                                id="globalMenuHome" class="first">
                            <!--<a href="/" th:href="@{/}" th:text="#{menu.home}">Home</a>-->
                            <a href="#/" ng-click="setRoute('/')" th:text="#{menu.home}">Home</a>
                        </li>
                        <th:block th:if="${sessionInfo != null and sessionInfo.isAuthenticated(#httpServletRequest)}">
	                        <li
	                                th:class="(${topMenuSelected != null and topMenuSelected == 'contact'}?'active':'')"
	                                id="globalMenuContact"><a href="#/contactus"
	                                                          th:href="@{#/contactus}" ng-click="vm.showContactUs()" th:text="#{menu.contact}">Contact.</a>
	                        </li>                        
                        </th:block>
                        
                        <th:block th:unless="${sessionInfo != null and sessionInfo.isAuthenticated(#httpServletRequest)}">
	                        <li
	                                th:class="(${topMenuSelected != null and topMenuSelected == 'contact'}?'active':'')"
	                                id="globalMenuContact"><a href="#/contactus"
	                                                          th:href="@{#/contactus}" ng-click="setRoute('/contactus')" th:text="#{menu.contact}">Contact.</a>
	                        </li>                        
                        </th:block>
                    </ul>
                    <div class="logo pull-right">
                        <img class="logo " src="../images/bclogo.png"
                             alt="My Spring MVC Logo" th:alt="#{alt.logo}"
                             th:src="@{'/images/bclogo.png'}"/><span style="color:red; font-size: 12px; font-weight: bold;">beta</span>
                    </div>
                    <!-- signup-login -->
                    <ul class="nav navbar-nav pull-right">
                        <li id="loginLink"
                            th:if="${sessionInfo != null and sessionInfo.isAuthenticated(#httpServletRequest)}"><a
                                th:attr="ng-click='confirmLogout($event, \'__@{/logout}__\')'" data-toggle="modal"
                                th:text="#{menu.logout}">Logout</a></li>
                    </ul>
                    <th:block
                            th:if="${sessionInfo == null or !sessionInfo.isAuthenticated(#httpServletRequest)}">
                        <ul class="nav navbar-nav pull-right">
                            <li id="signupLink"><a href="#/login" ng-click="setRoute('/login')">Login</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li id="signupLink"><a href="#/signup" ng-click="setRoute('/signup')">Sign up</a></li>
                        </ul>
                    </th:block>
                    <!-- /.navbar-nav -->
                </div>
                <!-- /.navbar-nav -->
            </div>
        </div>
    </div>
    <div th:include="/common/globals::commons"></div>
</div>

<div id="footer-zone" th:fragment="footer-zone">
    <footer>
        <hr></hr>
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".footer-nav">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse footer-nav">
                    <ul>
                        <li><a th:href="@{/public/contact}"
                               th:text="#{footer.contact}">Contact.</a></li>
                        <!--<li><a href="/public/terms-conditions"
                               th:href="@{/public/terms-conditions}"
                               th:text="#{footer.termsConditions}">Terms of Use.</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

	<script src='/js/angular-recaptcha.js' th:src="@{/js/angular-recaptcha.js}"></script>
	
    <script
            src="/js/ui-bootstrap-tpls-0.13.3.js"
            th:src="@{/js/ui-bootstrap-tpls-0.13.3.js}"></script>

    <script
            src="/js/ng-table.js"
            th:src="@{/js/ng-table.js}"></script>

    <th:block th:if="${sessionInfo != null and sessionInfo.isAuthenticated(#httpServletRequest)}">

        <script
                src="/js/privateapp.js"
                th:src="@{/js/privateapp.js}"></script>

        <!-- Services -->
        <script
                src="/js/services/email-service.js"
                th:src="@{/js/services/email-service.js}"></script>
        <script
                src="/js/services/user-service.js"
                th:src="@{/js/services/user-service.js}"></script>

        <script
                src="/js/services/sharing-service.js"
                th:src="@{/js/services/sharing-service.js}"></script>

        <!-- Controllers -->
        <script
                src="/js/app/main/main.controller.js"
                th:src="@{/js/app/main/main.controller.js}"></script>

        <script
                src="/js/app/main/emailfolder.controller.js"
                th:src="@{/js/app/main/emailfolder.controller.js}"></script>

        <script
                src="/js/app/main/mainmenu.controller.js"
                th:src="@{/js/app/main/mainmenu.controller.js}"></script>
    </th:block>
    
    <script type="text/javascript">
            var _SERVER_PATH = "/"
    </script>
    
    <th:block th:unless="${sessionInfo != null and sessionInfo.isAuthenticated(#httpServletRequest)}">
        <script
                src="/js/app.js"
                th:src="@{/js/app.js}"></script>

        <!-- Services -->
        <script
                src="/js/services/user-service.js"
                th:src="@{/js/services/user-service.js}"></script>

        <!-- Controllers -->
        <script
                src="/js/app/home/home.controller.js"
                th:src="@{/js/app/home/home.controller.js}"></script>
        <script
                src="/js/app/login/login.controller.js"
                th:src="@{/js/app/login/login.controller.js}"></script>
        <script
                src="/js/app/signup/signup.controller.js"
                th:src="@{/js/app/signup/signup.controller.js}"></script>
    </th:block>
    
        <script
                src="/js/services/public-service.js"
                th:src="@{/js/services/public-service.js}"></script>
                    
        <script
                src="/js/app/contactus/contactus.controller.js"
                th:src="@{/js/app/contactus/contactus.controller.js}"></script>
        <script
                src="/js/app/landing_router.controller.js"
                th:src="@{/js/app/landing_router.controller.js}"></script>
                
        <script
                src="/js/app/share/share.controller.js"
                th:src="@{/js/app/share/share.controller.js}"></script>                
                    
</div>

<div id="form-required-note" th:fragment="form-required-note">
    <span th:inline="text" class="required-field-note">[[#{text.requiredFieldsNote}]]</span>
</div>
<div id="commons" th:fragment="commons">
    <div
            th:with="effect='fade in',modalId = 'logoutModal', modalTitle=#{title.logoutModal},
							modalBody=#{text.logoutBodyModal},
							bodyClass='important-alert',
							actionClass='red-button',
							closeText=#{action.cancel}, actionEnabled=true, actionText=#{action.logout}, actionFunction=('logout(\'' + @{/logout} + '\')') "
            th:include="/common/components::modal-dialog"></div>
</div>

</body>

</html>