<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- bootstrap metas -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="#{page.title}">Spring MVC Title</title>


<link href="../images/favicon.ico"
	th:href="@{'/images/favicon.ico'}"
	rel="shortcut icon" />
<link rel="stylesheet" type="text/css" media="all"
	href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<link rel="stylesheet" type="text/css" media="all"
	href="../css/bootstrap-theme.css"
	th:href="@{'/css/bootstrap-theme.css'}" />


<link rel="stylesheet" type="text/css" media="all"
	href="../css/main.css"
	th:href="@{'/css/main.css'}" />

<link rel="stylesheet"
	  href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"/>

<link rel="stylesheet" type="text/css" media="all"
	href="../css/ng-table.css"
	th:href="@{'/css/ng-table.css'}" />

<link rel="stylesheet" type="text/css" media="all"
	href="../css/theme.css"
	th:href="@{'/css/theme.css'}" />
	
<link rel="stylesheet" type="text/css" media="all"
	href="../css/full-main.css"
	th:href="@{'/css/full-main.css'}" />
	
	<!--[if IE]>
    <script src="/scripts/html5shiv.js"
	th:src="@{/scripts/html5shiv.js}"></script>
<![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->

<!-- Include the JS ReCaptcha API -->
<script src="http://www.google.com/recaptcha/api.js?render=explicit&amp;onload=vcRecaptchaApiLoaded" th:async="true" th:defer="true"></script>

<script type="text/javascript" th:inline="javascript" >
	var globalDateFormat = /*[[${globalJSDateFormat}]]*/'yyyy-mm-dd';
	var PUBLIC_URL = /*[[${publicUrl}]]*/'http://localhost/springmvc-web';
    var _ModuleName = /*[[${sessionInfo.jsAppName}]]*/'rolyPoly';
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67016980-1', 'auto');
  ga('send', 'pageview');

</script>

<script
	src="/js/common.js"
	th:src="@{/js/common.js}"></script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "fd42b02f-9054-4083-bfe9-ca3cb84154e3", doNotHash: false, doNotCopy: false, hashAddressBar: true, shorten: false});
</script>
</head>

<body>
</body>

</html>