<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div id="messages-all" th:fragment="messages-all">
		<!-- Error messages -->
		<script type="text/javascript" th:inline="javascript">
			var showMessageErrors = /*[[${not #lists.isEmpty(_messages_error)}]]*/false;
		</script>

		<div th:include="/common/messages::messages-errors"></div>

		<!-- Information messages -->
		<div th:include="/common/messages::messages-warning"></div>

		<!-- Information messages -->
		<div th:include="/common/messages::messages-infos"></div>

	</div>

	<div id="messages-form-errors" 
		th:fragment="messages-form-errors">
		<div th:unless="!${#fields.hasAnyErrors()}"
			class="error-box glyphicon glyphicon-exclamation-sign" id="error-box">
			<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
			</ul>
		</div>
	</div>

	<div id="messages-errors" 
		th:fragment="messages-errors">
		<div th:if="${not #lists.isEmpty(_messages_error)}"
			class="error-box glyphicon glyphicon-warning-sign" ng-show="showMessageErrors">
			<ul>
				<li th:each="message : ${_messages_error}"
					th:text="${message.message}" />
			</ul>
		</div>
	</div>

	<div id="messages-infos" th:fragment="messages-infos">
		<div id="messages-infos" th:if="${not #lists.isEmpty(_messages_info)}"
			class="info-box glyphicon glyphicon-info-sign">
			<ul>
				<li th:each="message : ${_messages_info}"
					th:text="${message.message}" />
			</ul>
		</div>
	</div>

	<div id="messages-errors" th:fragment="messages-warning">
		<div th:if="${not #lists.isEmpty(_messages_warning)}"
			class="warning-box glyphicon glyphicon-warning-sign">
			<ul>
				<li th:each="message : ${_messages_warning}"
					th:text="${message.message}" />
			</ul>
		</div>
	</div>

</body>

</html>