<!-- Add or edit sources -->
<div>
    <md-dialog>
        <form name="a" role="form" novalidate="">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 th:text="#{account.source.imap.add}">Add IMAP Source</h2>
                    <span flex=""></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-input-container>
                    <label for="email" th:text="#{emailAddress}"> </label>
                    <input id="email" name="email" type="email" required="" ng-model="vm.source.email"/>

                    <div ng-messages="a.email.$error">
                        <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                        <div ng-message="email" th:text="#{invalidemail}"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="server" th:text="#{server}"></label>
                    <input id="server" name="server" type="text" required="" ng-model="vm.source.server"/>

                    <div ng-messages="a.server.$error">
                        <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="port" th:text="#{port}"></label>
                    <input name="port" id="port" type="number" required="" min="1" max="65535"
                           ng-model="vm.source.port"/>

                    <div ng-messages="a.port.$error">
                        <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="vm.source.useSsl" th:text="#{usessl}" class="md-primary"></md-checkbox>
                <md-input-container>
                    <label for="username" th:text="#{username}"></label>
                    <input id="username" name="username" type="text" required="" ng-model="vm.source.username"/>

                    <div ng-messages="a.username.$error">
                        <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="password" th:text="#{password}"></label>
                    <input id="password" name="password" type="password" required="" ng-model="vm.source.password"/>

                    <div ng-messages="a.password.$error">
                        <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" 
                           ng-click="vm.discovery()" th:text="#{action.discovery}">Discover Server settings
                </md-button>                
                <md-button class="md-raised md-primary" ng-disabled="a.$invalid"
                           ng-click="vm.saveAccountSource()" th:text="#{action.save}">Save
                </md-button>
                <md-button class="md-raised md-warn" ng-click="vm.closeAccountSourceDialog()"
                           th:text="#{action.cancel}">Cancel
                </md-button>
            </md-dialog-content>
        </form>
    </md-dialog>
</div>