<div class="col-sm-8 content">
<div ng-controller="HomeController as vm" layout="column">
	<md-card style="width: 700px"> <md-card-content>
	<div>
		<section class="content-area" style="text-align: center">
			<h1>Email got Social</h1>
			<div>
				<p>Abraham Lincoln's letter to his son's teacher could
					have been lost if written nowadays. We need to preserve information for
					our future generations. Donate your email to History! </p> <p>From
					presidents to lovers, everyone should be remembered. <a href="#/signup" ng-click="setRoute('/signup')">Sign up</a> or <a
				href="#/login" ng-click="setRoute('/login')">Login</a></p>
			</div>

		</section>

		<br /> <img width="640" height="480" src="images/social_images.jpg" th:src="@{/images/social_images.jpg}" />
	</div>
	</md-card-content> </md-card>
</div>
</div>
