<div ng-class="{ 'container': $rootScope.containerClass =='container' }" >
<div class="col-sm-12 content">
	<md-card flex="" class="md-cyan-theme content-card"> <md-toolbar
		class="toolbar-default md-white-cyan-theme" md-theme="white-cyan">
	<div layout="row" layout-align="space-between start">
		<div class="email-single-title" flex="">
			<h3 class="md-title ng-binding" flex=""
				th:text="${email.from.name + ' (' + email.from.email + ')'}"></h3>
			<span class="md-subhead"> <span translate="" class="ng-scope"
				style="">To: </span> <!-- ngRepeat: to in email.to --> <span
				th:each="to : ${email.to}" th:inline="text"
				class="ng-binding ng-scope">
					[[${#strings.isEmpty(to.name)?"":to.name}]] ([[${to.email}]])<!-- ngIf: !$last -->
			</span> <!-- end ngRepeat: to in email.to -->
				<div style="clear: both;"></div>
			</span> <span class="md-body-2 ng-binding" th:text="${email.subject}"></span>
		</div>
		<div layout="row" layout-align="space-between center">
			<span class='st_facebook_hcount' displayText='Facebook'></span> <span
				class='st_googleplus_hcount' displayText='Google +'></span> <span
				class='st_twitter_hcount' displayText='Tweet'></span> <span
				class='st_linkedin_hcount' displayText='LinkedIn'></span> <span
				class="md-caption" am-time-ago="vm.activeEmail.date"
				th:text="${#calendars.format(email.date * 1000,'MMM dd, yyyy @ h:mma')}"></span>
		</div>
	</div>
	</md-toolbar> <md-divider class="md-cyan-theme"></md-divider> <md-card-content>

	<span th:utext="${email.sharedContent}" th:remove="tag"></span> </md-card-content> </md-card>
</div>
</div>