.search {
	padding: 0;
	margin-top: 5px;
}

.text-input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: top;
	margin-right: 0;
}

.search input {
	border-color: #DBDBDB;
	border-width: 1px 1px 1px 1px;
	height: auto;
	margin: 0;
}

.search button {
	margin: 0;
	height: auto;
	padding-top: 6px;
}

/* Header */
header {
	overflow: hidden;
	background: white;
	padding: 16px 0 22px 0;
}

img.logo {
	float: left;
	margin-top: 6px;
}

img.logo:hover {
	border: 0;
}

.fix-margin-bottom {
	margin-bottom: 1px;
}

/* Messages */
.general-error {
	font-weight: bold;
}

.error-content {
	margin-top: 20px;
	margin-bottom: 10px;
}

.error-box:BEFORE {
	font-family: 'Glyphicons Halflings';
}

.error-box {
	width: 100%;
	padding: 5px;
	border: 1px solid;
	border-color: #b94a48;
	color: #b94a48;
	background-color: #f2dede;
	font-size: 14px;
	vertical-align: middle;
	font-family: inherit;
}

.error-box li {
	font-family: Arial, sans-serif;
}

.info-box:BEFORE {
	font-family: 'Glyphicons Halflings';
}

.info-box {
	width: 100%;
	padding: 5px;
	border: 1px solid;
	border-color: #0B5236;
	color: #0B5236;
	background-color: #CBF5D0;
	font-size: 14px;
	vertical-align: middle;
	font-family: inherit;
}

.message {
	background-color: white;
}
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.spinnerEmailBody {
	text-align: center;
}

.pagination {
	margin: 0px !important;
}

.privateBody {
	background-color: rgb(243, 245, 237);
}

.content-card {
	background-color: white;
}

.stMainServices, .stButton_gradient{
	height: 100% !important;
}

.stHBubble{
	height: 20px !important;
}

.email-folder, .email-viewer{
	padding-left: 0px !important;
	padding-right: 5px !important;
}

.contactusReachTwitter {
	float: left;
}

.contactusReachTwitter span{
	margin-left: 10px;
	margin-right: 20px;
}

.form-errors {
	color: #F44336;
}