md-bottom-sheet.md-white-cyan-theme.md-list md-list-item {
	color: rgba(0, 0, 0, 0.87);
}

md-bottom-sheet.md-white-cyan-theme .md-subheader {
	color: rgba(0, 0, 0, 0.87);
}

md-card.md-white-cyan-theme .md-card-image {
	border-radius: 2px 2px 0 0;
}

a.md-button.md-white-cyan-theme, .md-button.md-white-cyan-theme {
	border-radius: 3px;
}

a.md-button.md-white-cyan-theme.md-icon-button, .md-button.md-white-cyan-theme.md-icon-button
	{
	border-radius: 50%;
}

a.md-button.md-white-cyan-theme.md-primary, .md-button.md-white-cyan-theme.md-primary
	{
	color: rgb(255, 255, 255);
}

a.md-button.md-white-cyan-theme.md-primary.md-raised, a.md-button.md-white-cyan-theme.md-primary.md-fab,
	.md-button.md-white-cyan-theme.md-primary.md-raised, .md-button.md-white-cyan-theme.md-primary.md-fab
	{
	color: rgba(0, 0, 0, 0.87);
	background-color: rgb(255, 255, 255);
}

a.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ) md-icon,
	a.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ) md-icon,
	.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ) md-icon,
	.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ) md-icon
	{
	color: rgba(0, 0, 0, 0.87);
}

a.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ):hover,
	a.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ):hover,
	.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ):hover,
	.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ):hover
	{
	background-color: rgb(255, 255, 255);
}

a.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ).md-focused,
	a.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ).md-focused,
	.md-button.md-white-cyan-theme.md-primary.md-raised:not ([disabled] ).md-focused,
	.md-button.md-white-cyan-theme.md-primary.md-fab:not ([disabled] ).md-focused
	{
	background-color: rgb(255, 255, 255);
}

a.md-button.md-white-cyan-theme.md-primary:not ([disabled] ) md-icon,
	.md-button.md-white-cyan-theme.md-primary:not ([disabled] ) md-icon {
	color: rgb(255, 255, 255);
}

md-checkbox.md-white-cyan-theme .md-icon {
	border-color: rgba(0, 0, 0, 0.54);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary .md-ripple
	{
	color: rgb(255, 255, 255);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-ripple
	{
	color: rgb(117, 117, 117);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary .md-icon {
	border-color: rgba(0, 0, 0, 0.54);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-icon
	{
	background-color: rgba(255, 255, 255, 0.87);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked.md-focused .md-container:before
	{
	background-color: rgba(255, 255, 255, 0.26);
}

md-checkbox.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-icon:after
	{
	border-color: rgb(238, 238, 238);
}

md-checkbox.md-white-cyan-theme[disabled] .md-icon {
	border-color: rgba(0, 0, 0, 0.26);
}

md-checkbox.md-white-cyan-theme[disabled] .md-label {
	color: rgba(0, 0, 0, 0.26);
}

md-chips.md-white-cyan-theme .md-chips.md-focused {
	box-shadow: 0 2px rgb(255, 255, 255);
}

md-chips.md-white-cyan-theme .md-chip.md-focused {
	background: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.87);
}

md-chips.md-white-cyan-theme .md-chip.md-focused md-icon {
	color: rgba(0, 0, 0, 0.87);
}

md-dialog.md-white-cyan-theme.md-content-overflow .md-actions {
	border-top-color: rgba(0, 0, 0, 0.12);
}

md-divider.md-white-cyan-theme {
	border-top-color: rgba(0, 0, 0, 0.12);
}

md-icon.md-white-cyan-theme {
	color: rgba(0, 0, 0, 0.54);
}

md-icon.md-white-cyan-theme.md-primary {
	color: rgb(255, 255, 255);
}

md-input-container.md-white-cyan-theme .md-input {
	color: rgba(0, 0, 0, 0.87);
	border-color: rgba(0, 0, 0, 0.12);
	text-shadow:;
}

md-input-container.md-white-cyan-theme .md-input::-webkit-input-placeholder,
	md-input-container.md-white-cyan-theme .md-input::-moz-placeholder,
	md-input-container.md-white-cyan-theme .md-input:-moz-placeholder,
	md-input-container.md-white-cyan-theme .md-input:-ms-input-placeholder
	{
	color: rgba(0, 0, 0, 0.26);
}

md-input-container.md-white-cyan-theme>md-icon {
	color: rgba(0, 0, 0, 0.87);
}

md-input-container.md-white-cyan-theme label, md-input-container.md-white-cyan-theme .md-placeholder
	{
	text-shadow:;
	color: rgba(0, 0, 0, 0.26);
}

md-input-container.md-white-cyan-theme:not (.md-input-invalid ).md-input-has-value label
	{
	color: rgba(0, 0, 0, 0.54);
}

md-input-container.md-white-cyan-theme:not (.md-input-invalid ).md-input-focused .md-input
	{
	border-color: rgb(255, 255, 255);
}

md-input-container.md-white-cyan-theme:not (.md-input-invalid ).md-input-focused label
	{
	color: rgb(255, 255, 255);
}

md-input-container.md-white-cyan-theme:not (.md-input-invalid ).md-input-focused md-icon
	{
	color: rgb(255, 255, 255);
}

md-list.md-white-cyan-theme md-list-item.md-2-line .md-list-item-text h3,
	md-list.md-white-cyan-theme md-list-item.md-2-line .md-list-item-text h4,
	md-list.md-white-cyan-theme md-list-item.md-3-line .md-list-item-text h3,
	md-list.md-white-cyan-theme md-list-item.md-3-line .md-list-item-text h4
	{
	color: rgba(0, 0, 0, 0.87);
}

md-list.md-white-cyan-theme md-list-item.md-2-line .md-list-item-text p,
	md-list.md-white-cyan-theme md-list-item.md-3-line .md-list-item-text p
	{
	color: rgba(0, 0, 0, 0.54);
}

md-list.md-white-cyan-theme md-list-item>md-icon {
	color: rgba(0, 0, 0, 0.54);
}

md-list.md-white-cyan-theme md-list-item>md-icon.md-highlight {
	color: rgb(255, 255, 255);
}

md-progress-circular.md-white-cyan-theme .md-inner .md-gap {
	border-top-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
}

md-progress-circular.md-white-cyan-theme .md-inner .md-left .md-half-circle,
	md-progress-circular.md-white-cyan-theme .md-inner .md-right .md-half-circle
	{
	border-top-color: rgb(255, 255, 255);
}

md-progress-circular.md-white-cyan-theme .md-inner .md-right .md-half-circle
	{
	border-right-color: rgb(255, 255, 255);
}

md-progress-circular.md-white-cyan-theme .md-inner .md-left .md-half-circle
	{
	border-left-color: rgb(255, 255, 255);
}

md-progress-linear.md-white-cyan-theme .md-container {
	background-color: rgb(255, 255, 255);
}

md-progress-linear.md-white-cyan-theme .md-bar {
	background-color: rgb(255, 255, 255);
}

md-select.md-white-cyan-theme .md-select-value {
	border-bottom-color: rgba(0, 0, 0, 0.12);
}

md-select.md-white-cyan-theme .md-select-value.md-select-placeholder {
	color: rgba(0, 0, 0, 0.26);
}

md-select.md-white-cyan-theme:not ([disabled] ):focus .md-select-value {
	border-bottom-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.87);
}

md-select.md-white-cyan-theme:not ([disabled] ):focus .md-select-value.md-select-placeholder
	{
	color: rgba(0, 0, 0, 0.87);
}

md-select.md-white-cyan-theme[disabled] .md-select-value {
	color: rgba(0, 0, 0, 0.26);
}

md-select.md-white-cyan-theme[disabled] .md-select-value.md-select-placeholder
	{
	color: rgba(0, 0, 0, 0.26);
}

md-select-menu.md-white-cyan-theme md-option[disabled] {
	color: rgba(0, 0, 0, 0.26);
}

md-select-menu.md-white-cyan-theme md-optgroup {
	color: rgba(0, 0, 0, 0.54);
}

md-select-menu.md-white-cyan-theme md-optgroup md-option {
	color: rgba(0, 0, 0, 0.87);
}

md-select-menu.md-white-cyan-theme md-option[selected] {
	color: rgb(255, 255, 255);
}

md-select-menu.md-white-cyan-theme md-option[selected]:focus {
	color: rgb(255, 255, 255);
}

md-radio-button.md-white-cyan-theme .md-off {
	border-color: rgba(0, 0, 0, 0.54);
}

md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary .md-on,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary .md-on,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary .md-on,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary .md-on
	{
	background-color: rgba(255, 255, 255, 0.87);
}

md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary .md-checked .md-off,
	md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary.md-checked .md-off,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary .md-checked .md-off,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-off,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary .md-checked .md-off,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary.md-checked .md-off,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary .md-checked .md-off,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-off
	{
	border-color: rgba(255, 255, 255, 0.87);
}

md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary .md-checked .md-ink-ripple,
	md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary.md-checked .md-ink-ripple,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary .md-checked .md-ink-ripple,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-ink-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary .md-checked .md-ink-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary.md-checked .md-ink-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary .md-checked .md-ink-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary.md-checked .md-ink-ripple
	{
	color: rgba(255, 255, 255, 0.87);
}

md-radio-group.md-white-cyan-theme:not ([disabled] ) .md-primary .md-container .md-ripple,
	md-radio-group.md-white-cyan-theme:not ([disabled] ).md-primary .md-container .md-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ) .md-primary .md-container .md-ripple,
	md-radio-button.md-white-cyan-theme:not ([disabled] ).md-primary .md-container .md-ripple
	{
	color: rgb(255, 255, 255);
}

md-radio-group.md-white-cyan-theme[disabled], md-radio-button.md-white-cyan-theme[disabled]
	{
	color: rgba(0, 0, 0, 0.26);
}

md-radio-group.md-white-cyan-theme[disabled] .md-container .md-off,
	md-radio-button.md-white-cyan-theme[disabled] .md-container .md-off {
	border-color: rgba(0, 0, 0, 0.26);
}

md-radio-group.md-white-cyan-theme[disabled] .md-container .md-on,
	md-radio-button.md-white-cyan-theme[disabled] .md-container .md-on {
	border-color: rgba(0, 0, 0, 0.26);
}

md-radio-group.md-white-cyan-theme.md-focused:not (:empty ) .md-checked:not
	([disabled] ).md-primary .md-container:before {
	background-color: rgba(255, 255, 255, 0.26);
}

md-radio-group.md-white-cyan-theme.md-focused:not (:empty ) .md-checked.md-primary .md-container:before
	{
	background-color: '-0.26';
}

md-slider.md-white-cyan-theme .md-focus-ring {
	border-color: rgba(0, 0, 0, 0.12);
}

md-slider.md-white-cyan-theme.md-primary .md-track.md-track-fill {
	background-color: rgb(255, 255, 255);
}

md-slider.md-white-cyan-theme.md-primary .md-thumb:after {
	border-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
}

md-slider.md-white-cyan-theme.md-primary .md-sign {
	background-color: rgb(255, 255, 255);
}

md-slider.md-white-cyan-theme.md-primary .md-sign:after {
	border-top-color: rgb(255, 255, 255);
}

md-slider.md-white-cyan-theme.md-primary .md-thumb-text {
	color: rgba(0, 0, 0, 0.87);
}

md-slider.md-white-cyan-theme[disabled] .md-thumb:after {
	border-color: rgba(0, 0, 0, 0.26);
}

.md-subheader.md-white-cyan-theme.md-primary {
	color: rgb(255, 255, 255);
}

md-switch.md-white-cyan-theme.md-checked.md-primary .md-thumb {
	background-color: rgb(255, 255, 255);
}

md-switch.md-white-cyan-theme.md-checked.md-primary .md-bar {
	background-color: rgba(255, 255, 255, 0.5);
}

md-switch.md-white-cyan-theme.md-checked.md-primary.md-focused .md-thumb:before
	{
	background-color: rgba(255, 255, 255, 0.26);
}

md-tabs.md-white-cyan-theme .md-paginator md-icon {
	color: rgb(255, 255, 255);
}

md-tabs.md-white-cyan-theme .md-tab {
	color: rgba(0, 0, 0, 0.54);
}

md-tabs.md-white-cyan-theme .md-tab[disabled] {
	color: rgba(0, 0, 0, 0.26);
}

md-tabs.md-white-cyan-theme .md-tab.md-active, md-tabs.md-white-cyan-theme .md-tab.md-focused
	{
	color: rgb(255, 255, 255);
}

md-tabs.md-white-cyan-theme .md-tab.md-focused {
	background: rgba(255, 255, 255, 0.1);
}

md-tabs.md-white-cyan-theme.md-primary>md-tabs-wrapper {
	background-color: rgb(255, 255, 255);
}

md-tabs.md-white-cyan-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ) {
	color: rgb(255, 255, 255);
}

md-tabs.md-white-cyan-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-active, md-tabs.md-white-cyan-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-focused {
	color: rgba(0, 0, 0, 0.87);
}

md-tabs.md-white-cyan-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-focused {
	background: rgba(0, 0, 0, 0.1);
}

md-toolbar>md-tabs.md-white-cyan-theme>md-tabs-wrapper {
	background-color: rgb(255, 255, 255);
}

md-toolbar>md-tabs.md-white-cyan-theme>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ) {
	color: rgb(255, 255, 255);
}

md-toolbar>md-tabs.md-white-cyan-theme>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-active, md-toolbar>md-tabs.md-white-cyan-theme>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-focused {
	color: rgba(0, 0, 0, 0.87);
}

md-toolbar>md-tabs.md-white-cyan-theme>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	([disabled] ).md-focused {
	background: rgba(0, 0, 0, 0.1);
}

md-toast.md-white-cyan-theme .md-button.md-highlight {
	color: rgb(255, 255, 255);
}

md-toolbar.md-white-cyan-theme {
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.87);
}

md-toolbar.md-white-cyan-theme md-icon {
	color: rgba(0, 0, 0, 0.87);
}

md-toolbar.md-white-cyan-theme .md-button {
	color: rgba(0, 0, 0, 0.87);
}