<div ng-controller="ContactUsController as vm" layout="column">
	<!--<md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">-->
	<md-card> <md-card-content> <md-content
		md-theme="docs-dark">
	<div>
		<h3 th:text="#{contactus.reachUsTwiter}">Reach us in twitter</h3>
		<div class="contactusReachTwitter" style="float: left">
			<span><a href="https://twitter.com/enavarrocu">@Ernesto
					Navarro</a></span> <span><a href="https://twitter.com/davidgamezdiaz">@David
					Gamez</a> </span>
		</div>
		<div style="clear: both"></div>
	</div>


	<form name="contactusform" role="form" novalidate="">
		<div>
			<h3 th:text="#{contactus.leaveMessage}">Or leave us a message</h3>
		</div>
		<md-input-container> <label for="fullName"
			th:text="#{fullName}"></label> <input ng-model="vm.fullName"
			id="fullName" name="fullName" required="" />

		<div ng-messages="contactusform.fullName.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="email"
			th:text="#{emailAddress}"></label> <input ng-model="vm.email"
			id="email" name="email" type="email" required="" />

		<div ng-messages="contactusform.email.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
			<div ng-message="email" th:text="#{invalidemail}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label
			for="confirmemailaddress" th:text="#{confirmEmailAddress}"></label> <input
			ng-model="vm.confirmEmailAddress" id="confirmemailaddress"
			name="confirmemailaddress" type="email" required=""
			fieldtomatch="vm.email" />

		<div ng-messages="contactusform.confirmemailaddress.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
			<div ng-message="mismatch" th:text="#{contactus.repeatemailmismatch}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="subject"
			th:text="#{contactus.subject}"></label> <input ng-model="vm.subject"
			id="subject" name="subject" required="" />

		<div ng-messages="contactusform.subject.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>
		</md-input-container>
		<md-input-container> <label for="message"
			th:text="#{contactus.yourEnquiry}"></label> <textarea rows="5"
			ng-model="vm.message" id="message" name="message" required="" />

		<div ng-messages="contactusform.message.$error">
			<div ng-message="required" th:text="#{text.fieldRequired}"></div>
		</div>

		</md-input-container>
		<div th:attr="vc-recaptcha=true" theme="'light'" key="model.key"
			on-create="setWidgetId(widgetId)" on-success="setResponse(response)"
			on-expire="cbExpiration()"></div>
		<md-button class="md-raised md-primary"
			ng-click="vm.submitContactUsForm()"
			ng-disabled="contactusform.$invalid" th:text="#{contactus.button}"></md-button>

		<hr />
	</form>
	</md-content> </md-card-content> </md-card>
	<!-- {{ vm }}
     {{ contactusform.email }}-->
</div>