<div class="email-viewer col-md-6">
	<div class="spinnerEmailBody" ng-show="vm.loadingEmail">
		<img src="../images/spinner.png" alt="Loading" th:alt="Loading"
			th:src="@{'/images/spiffygif_30x30.gif'}" />
	</div>
	<md-card flex="" class="md-cyan-theme" ng-show="vm.activeEmail.loaded">
	<md-toolbar class="toolbar-default md-white-cyan-theme"
		md-theme="white-cyan">
	<div layout="row" layout-align="space-between start">
		<div class="email-single-title" flex="">
			<h3 class="md-title ng-binding" flex="">{{vm.activeEmail.from}}</h3>
			<span class="md-subhead"> <span translate="" class="ng-scope">To</span>
				<!-- ngRepeat: to in email.to -->
				<span ng-repeat="to in vm.activeEmail.to"
				class="ng-binding ng-scope"> {{name}} ({{email}})<!-- ngIf: !$last -->
			</span>
			<!-- end ngRepeat: to in email.to -->
			</span> <span class="md-body-2 ng-binding">{{vm.activeEmail.subject}}</span>
		</div>
		<div layout="row" layout-align="space-between center">
			<span class="md-caption" am-time-ago="vm.activeEmail.date">{{vm.activeEmail.date
				| date:'MM/dd/yyyy @ h:mma'}}</span>

		</div>
	</div>
	</md-toolbar> <md-divider class="md-cyan-theme"></md-divider> <md-card-content>
	<div ng-bind-html="vm.activeEmail.emailbody"></div>
	</md-card-content> </md-card>
</div>
