<div ng-controller="LogInController as vm" layout="column">
    <section class="content-area">
        <md-card>
            <md-card-content>
                <md-content md-theme="docs-dark">
                    <form name="f" th:action="@{/j_spring_security_check}" method="post" novalidate="">
                        <md-input-container>
                            <label for="username" th:text="#{emailAddress}"></label>
                            <input id="username" name="username" ng-model="login" type="email" required=""/>

                            <div ng-messages="f.username.$error">
                                <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                                <div ng-message="email" th:text="#{invalidemail}"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="password" th:text="#{password}"></label>
                            <input type="password" id="password" name="password" ng-model="password" required=""/>

                            <div ng-messages="f.password.$error">
                                <div ng-message="required" th:text="#{text.fieldRequired}"></div>
                            </div>
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-disabled="f.$invalid"
                                   th:text="#{login.button.login}">
                        </md-button>
                    </form>
                </md-content>
            </md-card-content>
        </md-card>
    </section>
</div>